#divlog{
    background:none;
    margin-top: 0;
    text-align: center;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 670px;
    height: 600px;
    border-radius: 20%;
}
body{
background: rgb(0, 0, 0);
background: radial-gradient(circle, rgb(234, 234, 234) 2%, rgba(253,240,213,1) 50%, rgb(0, 0, 0) 100%);
font-family: 'Courier New', monospace;
}
#named{
    font-size: 65px;
}
#name{
    margin-top: -2%;
    height: 50px;
    width: 300px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}
input[type="text"]{
    font-size: 50px;
}
#passd{
    font-size: 65px;
}
#pass{
    height: 50px;
    width: 200px;
    outline: none;
}
input[type="password"]{
    font-size: 50px;
}
button{
    background-color: rgb(61, 54, 54);
    color: rgb(234, 226, 226);
    border-radius: 20%;
    width: 200px;
    height: 60px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
}